.seccion__header {
    background: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding-bottom: 1rem;
}

.seccion__header__direccion {
    display: flex;
    align-items: center;
    gap: 2rem
}

.seccion__header__direccion__logo {
    content: url("../../img/logo__alura-geek.svg");
    width: 6.25rem;
    height: 1.75rem;
}

.seccion__header__barra-busqueda {
    display: none;
    align-items: center;
    justify-content: center;
    order: 3;
    max-width: 25rem;
    gap: .5rem;

    padding: 0.625rem 1.25rem;
    border-radius: 3rem;

    background: var(--blanco);
    transition: display 2s ease-in-out;
}

#boton-barra-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    order:2;
}

#boton-barra-busqueda img {
    height: 1.5rem;
    width: 1.5rem;
}

.seccion__header__barra-busqueda__form {
    display: none;
    flex-grow: 1;
}

.seccion__header__barra-busqueda__form input {
    display: none;
    text-align: center;

    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

#boton-volver {
    display: none;
    align-items: center;
}

#boton-volver img {
    height: 1.5rem;
    width: 1.5rem;
}

#boton-buscar {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: 0;
    outline: none;
}

.barra-busqueda__icono {
    height: 1.5rem;
    width: 1.5rem;
    order: 2;
}

.boton-blanco {
    color: var(--azul-100);
    border-color: var(--azul-100);
    background: #FFFFFF;
}

#boton-login, #boton-administrador{
    cursor: pointer;
}

#boton-login {
    width: 10rem;
}

#boton-administrador {
    width: 11.75rem;
}

#boton-administrador:hover {
    border-color: red;
    background: red;
    color: white !important;
    content: "Completed!" !important;
}

@media screen and (min-width: 768px){

    #boton-barra-busqueda {
        display: none;
        visibility: hidden;
    }

    .seccion__header__barra-busqueda {
        display: flex;
        order: 0;
        flex-grow: 1;
    }

    .seccion__header__barra-busqueda__form {
        display: flex;
    }

    .seccion__header__barra-busqueda__form input {
        display: flex;
        text-align: left;
        padding: 1rem .75rem;
    }

    .seccion__header a {
        margin-left: auto;
    }
}

@media screen and (min-width: 1280px){
    .seccion__header {
        padding-left: 9.5rem;
        padding-right: 9.5rem;
    }

    .seccion__header__barra-busqueda {
        max-width: 25rem;
    }
}
