.main__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.seccion__main__login {
    background: var(--blanco);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 2rem;
}

.formulario-login__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#login-enviar {
    width: 7rem;
}

@media screen and (min-width: 768px){
    .seccion__main__login {
        align-items: center;
    }

    .formulario-login__contenedor {
        width: 35rem;
    }
}