:root {
    --azul-100: #2A7AE4;
    --azul-10: #EAF2FD;
    --blanco: #F5F5F5;
    --gris-medio: #464646;

    --fuente: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--fuente);
    background: var(--blanco);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

section {
    padding: 1rem;
}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .75rem 1rem;
    border: 1px solid;
}

.boton-azul {
    color: var(--blanco);
    background: var(--azul-100);
    border-color: var(--azul-100);
}

.boton-blanco {
    color: var(--azul-100);
    background: var(--blanco);
    border-color: var(--azul-100);
}

a {
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

@media screen and (min-width: 768px){
    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1024px){
    section {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (min-width: 1280px){
    section {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 1440px){
    section {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}